fastapi
uvicorn
python-multipart
librosa
pandas
numpy
scikit-learn
joblib
resampy
python-dotenv
pyannote.audio
torch
soundfile
pydub
chromaprint
pyaudio
pyacoustid
secure-smtplib
gradio==4.9.1
pathlib

setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
